* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;

}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem 5%;
    height: 70px;
    width: 100%;
    position: fixed;
}

.header.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
}

.btn-img:hover {
    transform: scale(1.1);
    filter: brightness(1.1) drop-shadow(0 0 8px orange);
}

.btn-img {
    width: 300px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 50px;
}

.hero {
    position: relative;
    margin-top: 70px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 150px;

}

main img{
        width: 100%;
        display: block;
    }

section {
    padding: 60px 20px;
    background-color: rgb(182, 180, 97);
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.8s;
}

.nav-list a:hover {
    color: rgb(255, 145, 0);
}

.nav {
    flex: 1;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .btn-img {
        width: 150px;
        height: auto;
    }

    .hero-text h1 {
        font-size: 1.8rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    section {
        padding: 40px 15px;
    }

    .nav-list {
        width: 100%;
        align-items: center;
    }
}