* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
.header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* BOTÃO JOGAR */
.btn-img {
    width: 220px;
    height: auto;
    cursor: pointer;
    transition: 0.5s;
}

.btn-img:hover {
    transform: scale(1.1);
    filter: brightness(1.1) drop-shadow(0 0 8px orange);
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* SECTIONS */
section {
    min-height: calc(100vh - 70px);
    padding: 120px 30px;
    background-color: #d6ce5f;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    scroll-margin-top: 80px;

}

/*PIXEL FONTE P*/
.pixel {
    font-family: 'Pixelify Sans', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    color: rgb(92, 48, 32);
}

section h1 {
    font-size: 3.5rem;
    font-family: 'Pixelify Sans', Arial, sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    font-size: 30px;
    max-width: 1000px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* PERSONAGENS */
.cards {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.card {
    background: rgba(42, 137, 201, 0.85);
    color: white;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
    font-size: 30px;
    font-family: 'Pixelify Sans', Arial, sans-serif;
}

.card p {
    font-size: 1.5rem;
}

/* NAV */
.nav {
    width: 100%;
}

.nav.active {
    display: block;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Pixelify Sans', Arial, sans-serif;
    transition: 0.3s;
}

.nav-list a:hover {
    color: orange;
}

/* HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    background: white;
    border-radius: 2px;
    transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(7px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-7px);
}

/* MOBILE */
@media (max-width: 600px) {

    .btn-img {
        width: 120px;
    }

    section {
        padding: 80px 20px;
    }

    .nav {
        display: none;
        position: absolute;
        top: 70px;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
    }

    .nav.active {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }

    .hamburger {
        display: flex;
        z-index: 1002;
    }
}